{% extends "base.html.twig" %}

{% block body %}
    <div class="container">
        <h1>Inscrivez-vous</h1>
        {{ form_start(form) }}
        {{ form_row(form.lastname,{'label': 'Nom'}) }}
        {{ form_row(form.firstname, {'label': 'Prénom'}) }}
        {{ form_row(form.city, {'label': 'Ville'}) }}
        {{ form_row(form.birthDate, {'label': 'Date de Naissance'}) }}
        {{ form_row(form.email, {'label': 'Mail'}) }}
        {{ form_row(form.password, {'label': 'Mot de Passe'}) }}
        {{ form_row(form.confirm_password, {'label': 'Mot de Passe', 'attr': {'placeholder': 'Répétez votre mot de passe...'}}) }}
        <button type="submit" class="btn btn-primary">Valider</button>
        {{ form_end(form) }}
    </div>
{% endblock %}